@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Satoshi';

    src:  url('./assets/fonts/satoshi-regular/Satoshi-Regular.woff2') format('woff2'),
          url('./assets/fonts/satoshi-regular/Satoshi-Regular.woff') format('woff'),
          url('./assets/fonts/satoshi-regular/Satoshi-Regular.ttf') format('truetype')

  }

  @font-face {
    font-family: 'Satoshi-light';

    src:  url('./assets/fonts/satoshi-light/Satoshi-Light.woff') format('woff'),
          url('./assets/fonts/satoshi-light/Satoshi-Light.ttf') format('truetype')

  }

  @font-face {
      font-family: 'Satoshi-bold';
  
      src:  url('./assets/fonts/satoshi-bold/Satoshi-Bold.ttf') format('truetype'),
            url('./assets/fonts/satoshi-bold/Satoshi-Bold.woff') format('woff'),
            url('./assets/fonts/satoshi-bold/Satoshi-Bold.woff2') format('woff2')
  
    }
  
  
  canvas {
      height: 100%;
  }
